[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
pytest = "*"
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl"}
numpy = "==2.0.2"
spacy = "==3.8.2"

[dev-packages]

[requires]
python_version = "3.12"
